<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav"style="list-style-type:none;">
      <li class="nav-item" style="margin-right: 5px; ">
        <a routerLink="view-user" class="nav-link" class="btn btn-primary active" role="button">View Users</a>
      </li>
      <li class="nav-item" style="margin-right: 5px; ">
        <a routerLink="add-user" class="nav-link" class="btn btn-primary active" role="button">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="search" class="nav-link" class="btn btn-primary active" role="button">Search</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>